body{
    background-color: black;
}

.sention_apresentacao h2{
    color: white;
    font-size: 45px;
    margin-bottom: 0px;
}

.sention_apresentacao h1{
     margin-top: 0px;
    color: #00ffe3;
    font-size: 40px;
}

.sention_apresentacao{
    margin-top: 150px;
    padding-left: 60px;
}

@media (max-width: 814px) {
    .sention_apresentacao h1{
        font-size: 25px;
        
        
    }
    .sention_apresentacao h2{
        font-size: 30px;
    }
}


hr{
    width:60%;
}



.sobre_mim{
     text-align: center;
     padding: 20px;
     height: 40%;
     margin-bottom: 200px;
}



.sobre_mim h2{
    color: white;
    font-size: 30px;
}


.sobre_mim  article{
      align-content: center;
      width: 60%;
      color: rgba(255, 255, 255, 0.829);
}

.habilidades{
    margin-top: 120px;
    text-align: center;
    height: 60%;
}


.habilidades h2{
    color: white;
    font-size: 30px;
    margin-bottom: 80px;
}

.habilidades .hl_principa{
    margin: 15%;
    display:flex; /*flex aqui - novo*/
    justify-content:space-around; /*e distribuição de espaço aqui - novo*/
    margin-top: -0%;
    justify-content: center;
    transition: 1s;
}

.div_p{
    padding: 30px;
    border: solid 2px white;
    border-radius: 5px;
    width: 140px;
    height: 100px;
    margin-left: 20px;
    transition: 1s;
}


.div_p:hover{
    margin-top: 10px;
    border: solid 2px #00ffe3;
}


.habilidades .hl_secundaria{
    margin: 15%;
    display:flex; /*flex aqui - novo*/
    justify-content:space-around; /*e distribuição de espaço aqui - novo*/
    margin-top: -15%;
    justify-content: center;
    transition: 1s;
}

@media (max-width: 814px) {
    .hl_principa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
        
        
    }
    .hl_secundaria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
    }
}

.div_s{
    
    padding: 30px;
    border: solid 2px white;
    width: 140px;
    height: 100px;
    border-radius: 5px; 
    transition: 1s;
}

.div_s:hover{
    margin-top: 10px;
    border: solid 2px #00ffe3;
}

.habilidades div{
    margin: 40px;
}

.habilidades img{
    height: 113px;
}

.projetos_{
    text-align: center;
}

.projetos_ h2{
    font-size: 30px;
    color: white;
}

@media (max-width: 814px) {
    .sobre_mim h2{
       font-size: 20px;
    }
    .habilidades h2{
        font-size: 20px;
    }

    .projetos_{
       font-size: 20px;
    }

    .habilidades img{
        height: 100px;
        padding: 0px;
    }

    .div_s{
        padding: 10px;
    }

    .div_p{
        padding: 14px;
    }
}

.projeto_img{
    width: 350px;
    border-radius: 6px;
    justify-content: left;
    margin-top:60px;
    margin-left: -390px;
    position: relative;
    padding:4px;
    border: solid  2px rgba(255, 255, 255, 0.384) ;
}

.projetos_ ul{
    display:flex; /*flex aqui - novo*/
    flex-direction: column;
    align-items: start;
    margin-top: 8%;
    justify-content: left;
    margin-bottom: -10%;
}

.projetos_ div{
    margin: 20px;
    border-radius: 5px;
    height: 240px;
    padding: 0px;
    margin-left: -70px;
}

.projetos_ p{
    font-size: 15px;
    text-align: right;
    margin-left: 600px;
    margin-top:-176px;
    width: 500px;
    color: rgba(255, 255, 255, 0.829);
    padding: 40px;
    border: 2px solid rgba(255, 255, 255, 0.384) ;
    border-radius: 3px;
}



.b_projetos{
    margin-top:10px;
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 25px;
    border: 2px solid white;
    
}

@media (max-width: 814px) {
      .projetos_ div{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 4%;

        margin-left: -12px;
        width:100%;
        height:500px;
      }

      .projetos_ p{
        font-size: 13px;
        text-align: center;
        margin-top: -40px;
        margin-right:600px;
        color: rgba(255, 255, 255, 0.829);
        padding: 20px;
        border: 2px solid rgba(255, 255, 255, 0.384) ;
        border-radius: 3px;
        width: 60%;
        height:170px;
      }

      .projeto_img{
        width: 300px;
        border-radius: 6px;
        justify-content: left;
        margin:30px;
        padding:4px;
        border: solid  2px rgba(255, 255, 255, 0.384) ;
        margin-bottom: 100px;
    }

    .projetos_ ul{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: -10%;
    }
    

}