@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dm-sans{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}
  
.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  



body{
    background-color: black;
}

body hr{
    border-color: rgba(255, 255, 255, 0.384) ;
}

.sention_apresentacao h2{
    color: white;
    font-size: 35px;
    font-family:"Poppins",sans-serif;
    font-weight:230;
}

.sention_apresentacao h1{
     margin-top: 0px;
    color: #00ffe1e8;
    font-family:"Poppins", sans-serif;
    font-size: 40px;
    font-weight:500;
    line-height: 15px;
}


.content_redes{
    display: block;
    flex-direction:column-reverse;
    height: 27%;
    width: 27%;
    margin-left: 30%;
    padding: 6px;
    padding-left: 40%;
}

.redes{
    width:40px ;
    height:45px ;
    margin: 3px;
    border-radius: 5px;
}

#content_b_doc{
    position: fixed;
    width: 90px;
    height: 35px;
    margin: 5px;
    margin-left: -7.85%;
    padding: 5px;
}

.curriculo{
    padding: 5px;
    background-color:black;
    border:1.5px solid #00ffe1e8;
    border-radius: 10px;
    color: white;
    margin-top: 5px;   
}

.sention_apresentacao div{
    margin-top: 5%;
    padding: 10px;
    height: 240px;
    margin-left: 6%;
}


.sention_apresentacao{
    margin-top: 150px;
    display:flex; /*flex aqui - novo*/
    justify-content:space-around;
    margin-bottom: 5px;
}
  

#dev_{
    height: 25%;
    width:25%;
    margin-left: -320px;
}

@media (max-width: 814px) {
    .sention_apresentacao{
        padding: 2px;
    }
    .sention_apresentacao h1{
        font-size: 25px;
    }
    .sention_apresentacao h2{
        font-size: 20px;
    }

    .sention_apresentacao div{
        margin-top: 50px;
        height: 120px;
        width: 270px;
        padding: 0px;
        
    }

    #dev_{
        height:20%;
        width:20%;
        margin-left:-70%;
    }
}

.hr_p{
    background-color: black;
    width:55%;
}

.hr_s{
    width: 45%;
}


.sobre_mim{
     text-align: center;
     padding: 20px;
     height: 40%;
     margin-left: 10%;
     width: 80%;
}




.sobre_mim h2{
    color: white;
    font-family:"Poppins",sans-serif;
    font-weight:200;
    font-size: 30px;
}


.sobre_mim  article{
      align-content: center;
      width: 75%;
      color: rgba(255, 255, 255, 0.829);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.habilidades{
    margin-top: 10%;
    text-align: center;
    height: 40%;
    margin-left: 11%;
    width: 80%;
}


.habilidades h2{
    color: white;
    text-align: center;
    font-family:"Poppins",sans-serif;
    font-weight:200;
    font-size: 30px;
  margin-left: 3%;
}

.habilidades .hl_principa{
    margin: 15%;
    display:flex; /*flex aqui - novo*/
    justify-content:space-around; /*e distribuição de espaço aqui - novo*/
    margin-top: -0%;
    justify-content: center;
    transition: 1s;
}

.div_p{
    padding: 10px;
    border: solid 2px rgba(255, 255, 255, 0.384) ;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    transition: 1s;
}


.div_p:hover{
    margin-top: 10px;
    border: solid 2px #00ffe3;
}


.habilidades .hl_secundaria{
    margin: 15%;
    display:flex; /*flex aqui - novo*/
    justify-content:space-around; /*e distribuição de espaço aqui - novo*/
    margin-top: -15%;
    justify-content: center;
    transition: 1s;
}

@media (max-width: 814px) {
    .sobre_mim{
        text-align: center;
        padding: 10px;
        height: 40%;
        margin-left: 12%;
        width: 70%;
   }
   
   
   
   
   .sobre_mim h2{
       color: white;
       font-family:"Poppins",sans-serif;
       font-weight:200;
       font-size: 20px;
       text-align: center;
   }
   
   
   .sobre_mim  article{
         align-content: center;
         width: 100%;
         color: rgba(255, 255, 255, 0.829);
         
         font-size: 12px;
   }
   

    .habilidades{
        margin-top: 10%;
        width: 75%;
        height: 40%;
        margin-bottom: 30%;
    }

    .hl_principa{
        margin-top: -40px;
        margin-left: 0%;
        padding-left: 0px;
    }

}

.div_s{
    
    padding: 10px;
    border: solid 2px rgba(255, 255, 255, 0.384) ;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    transition: 1s;
}

.div_s img{
    margin-top: 3px;
}

.div_s:hover{
    margin-top: 10px;
    border: solid 2px #00ffe3;
}

.habilidades div{
    margin: 10px;
}

.habilidades img{
    height: 80px;
}

.projetos_{
    text-align: center;
    margin-top: -60px;
}

.projetos_ h2{
    font-family:"Poppins",sans-serif;
    font-weight:200;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: 6%;
}

@media (max-width: 814px) {
    .projetos_ h2{
        font-family:"Poppins",sans-serif;
        font-weight:200;
        font-size: 20px;
        color: white;
    }

    .sobre_mim h2{
       font-size: 17px;
    }
    .habilidades h2{
        font-size: 17px;
    }

    .projetos_{
       font-size: 20px;
    }
     

    .div_s{
        padding: 7px;
        height: 75px;
    }

    .div_s img{
        margin-top: 0px;
    }

    .div_p{
        padding: 10px;
        height: 75px;
    }

    .habilidades .hl_principa div{
        justify-content: center;
        margin-left: 5%;
    }

    .habilidades .hl_secundaria div{
        margin-left: 1%;
    }

    .habilidades img{
        width: 60px;
        height: 67px;
     
    }
}

.projeto_img{
    width: 350px;
    border-radius: 6px;
    justify-content: left;
    margin-top:60px;
    margin-left: -390px;
    position: relative;
    padding:4px;
    border: solid  2px rgba(255, 255, 255, 0.384) ;
}

.projetos_ ul{
    display:flex; /*flex aqui - novo*/
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: -10%;
    padding-left: 30%;
    
}

.projetos_ div{
    margin: 20px;
    border-radius: 5px;
    height: 240px;
    padding: 0px;
    margin-left: -50px;
}

.projetos_ p{
    font-size: 15px;
    text-align: right;
    margin-left: 600px;
    margin-top:-176px;
    width: 500px;
    color: rgba(255, 255, 255, 0.829);
    padding: 40px;
    border: 2px solid rgba(255, 255, 255, 0.384) ;
    border-radius: 3px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.b_projetos{
    margin-top:10px;
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 25px;
    border: 2px solid white;
    
}

@media (max-width: 814px) {
      .projetos_ div{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1%;
        margin-left: -12px;
        width:70%;
        height:345px;
      }

      .projetos_ p{
        font-size: 9px;
        text-align: center;
        margin-top: -40px;
        margin-right:600px;
        color: rgba(255, 255, 255, 0.829);
        padding: 20px;
        border: 2px solid rgba(255, 255, 255, 0.384) ;
        border-radius: 3px;
        width: 85%;
        height:85px;
      }

      .projeto_img{
        width: 220px;
        border-radius: 6px;
        justify-content: left;
        margin:30px;
        padding:4px;
        border: solid  2px rgba(255, 255, 255, 0.384) ;
        margin-bottom: 50px;
    }

    .projetos_ ul{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: -10%;
    }
    
    .b_projetos{
        padding: 5px;
        font-size: 10px;
        margin: 20px;
    }

}

.formacoes h2{
    font-family:"Poppins",sans-serif;
    font-weight:200;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 5%;
}

.formacoes{
    margin-top: 10%;
    height: 500px;
    padding: 5%;
    margin-bottom: 10%;
}

.fs_fileira{
    display: flex;
    justify-content:space-around; 
    padding: 20px;
    width: 90%;
    padding-left: 10%;
}

.fs_fileira_2{
    display: flex;
    justify-content:space-around; 
    padding: 20px;
    width: 90%;
    padding-left: 10%;
}

.formacoes  div{
    background-color: black;
    height: 130px;
    width:200px;
    padding: 17px;
    border-radius: 5px;
    border: 2px solid  white;
    transition: 1s;
}

.formacoes div:hover{
    margin-top: -2%;
}

.formacoes h3{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight:400;
    font-size: 17px;
}

.formacoes p{
   color: rgba(255, 255, 255, 0.829);;   
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media (max-width: 814px) {
    .fs_fileira{
       justify-content: center;
       display: flex;
       padding: 4px;
       width: 95%;
       height: 160px;
       
    }

    .fs_fileira_2{
        justify-content: center;
       display: flex;
       width: 95%;
       height: 160px;
       padding: 4px;

    }

   .formacoes{
      padding: 5%;
      height: 50%;
      width: 85%;
      justify-content: center;
      margin-top: 15%;
      margin-left: 3%;
   }

   .formacoes div{
    justify-content: center;
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin: 2px;
    border: none;
    transition: 1.3s;
   }

   .formacoes div:hover{
    margin-top: -2%;
    background-color:#00ffe1be ;
   }

   .formacoes h3{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight:400;
    font-size: 9px;
    margin-bottom: -5px;
    
   }

   .formacoes p{
    color: rgba(255, 255, 255, 0.829);;   
    font-size: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .formacoes h2{
    font-family:"Poppins",sans-serif;
    font-weight:200;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 1%;
    margin-top: 7%;
    margin-bottom: 1%;
   }
}

.info_contato{

 height: 120px;
 width: 99.90%;
 padding: 5px;
 margin-left: -0.30%;
 background-color: #141414;
}

.info_contato div{
    width: 55%;
    margin-left: 2%;
    padding-top: 5px;
    color: white;
}

.primeir_f_contato{
    width: 45%;
    margin-left: 45%; 
}

.primeir_f_contato h3{
   
    text-align: right;
    color: rgba(255, 255, 255, 0.829);;   
    font-size: 16px;
    width:350px;
    margin-left: -40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.segunda_f_contato{
     width: 12%;
     margin-top: -85px;
     margin-left: -70%;
}

.segunda_f_contato h3{
   
    text-align:right;
    width: 73%;
    border-radius: 5px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.829);  
    font-size:16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.segunda_f_contato a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.829);  
}

footer{
    margin-top: -15px;
    margin-bottom: -48%;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


@media (max-width: 814px) {

    .info_contato{
        height: 120px;
        width: 95%;
        padding: 7px;
        background-color: #141414;
       }

       .info_contato div{
        width: 55%;
        margin-left: 25%;
        padding-top: 5px;
        color: white;
    }

       .primeir_f_contato{
        width: 95%;
        padding-left: 19%;
        margin-left: 0%;

    }

    .primeir_f_contato h3{
   
        text-align:left;
        color: rgba(255, 255, 255, 0.829);;   
        font-size: 11px;
        width:100%;
        margin-left: -40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .segunda_f_contato{
        width: 40%;
        margin-top: -85px;
        margin-left: -165%;
        margin-right: 5px;
   }

   .segunda_f_contato h3{
   
    text-align:center;
    width: 73%;
    border-radius: 5px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.829);  
    font-size:11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    }

    footer{
        margin-top: -15px;
        margin-bottom: -130%;
        text-align: center;
        margin-left:-0.34% ;
        height: 16px;
        width: 98%;
        color: white;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

#hr_final{
    width: 70%;
}

center{
    padding: 0%;
}



